.debug-info{
    top: 120vh
}
.consent-button {
    margin-top: 1.5em;
    justify-self: center;
    background-color: #2e4db4;
    color: #2e4db4;
}
.btn-reveal {
    visibility: hidden;
}
.button {
    font-family: 'Work Sans', sans-serif;
    font-size: 3vh;
    width: 10vw;
    height: 6vh;
    background-color: #2e4db4;
    color: white;
    border: 0px;
    border-radius: 3px;
    line-height: 6vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
li {
    margin-top: 0.5em;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}
p {
    font-family: 'Work Sans', sans-serif;
}
.text-reveal {
    visibility: hidden;
}
.img-container {
    text-align: center;
}
.fs-popup-text {
    color           : black;
}
 
#cal-popup, #fs-popup {
    background-color    : rgba(255,255,255,0.95);
    height              : 120vh;
    width               : 100vw;
    display             : flex;
    flex-direction      : column; 
    text-align          : center;
    justify-content     : center;
    position            : absolute;
    left                : 50vw;
    top                 : 50vh;
    transform           : translate(-50%,-50%);
    visibility          : hidden;
    z-index             : -1;
}
.text-container{
    width: 70%;
    /*background-color: darkgrey;*/
}
.game-body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50vh;
    left: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.symbol {
    width: 3%;
    height: auto;
}